[Unit]
Description=Tripwire SSH Brute Force Detector
After=network.target syslog.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/tripwire
ExecStart=/usr/bin/python3 /opt/tripwire/main.py \
  --log-file /var/log/auth.log \
  --live \
  --refresh 5 \
  --export-blocklist /var/lib/tripwire/blocklist.txt \
  --whitelist /etc/tripwire/whitelist.txt \
  --export-csv /var/log/tripwire_live.csv \
  --quiet

Restart=always
RestartSec=10

# Security hardening
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
